### Directories
node_modules/
dist/
cypress/fixtures/
cypress/plugins/
cypress/support/
cypress/videos/
coverage/

### Files
package-lock.json
src/styles/_mixins.scss
src/styles/styles.scss
src/styles/_variables.scss
test/_snapshots_

### Hidden files
.editorconfig
.DS_Store
src/.DS_Store
.env
.DS_Store


