node_modules/

dist/

package-lock.json

.editorconfig

cypress/fixtures/

cypress/plugins/
cypress/support/
cypress/videos/

coverage/

.env

.DS_Store

src/styles/_mixins.scss
src/styles/styles.scss
src/styles/_variables.scss
