body {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica;
}

// nav bar styling begins

.navbar {
  display: grid;
  min-height: 30px;
  grid-auto-flow: column;
  background-color: #fff;
  grid-gap: 20px;
  padding: 0 70px;
  box-shadow: 0 5px 10px -10px;
  color: #0d9bc6;
  position: sticky;
  top: 0;
  z-index: 200;
  height: 90px;
}

.logo {
  display: grid;
  justify-content: start;
  align-content: center;
  padding: 4px;
}

.logo > a {
  color: #0d9bc6;
  text-decoration: none;
  font-size: 28px;
}

.links {
  display: grid;
  justify-content: end;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 20px;
  font-size: 15px;
}

.signup {
  border: 1px solid #0d9bc6;
  border-radius: 8px;
  padding: 4px;
  text-decoration: none;
  color: #0d9bc6;
}

.login {
  padding: 4px;
  text-decoration: none;
  color: #0d9bc6;
}

// nav bar styling ends

/* beginning of .categories styling  */

.categories {
  margin-top: 40px;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 20px;
  font-size: 15px;
}

.categories > a {
  text-decoration: none;
  color: #000000;
  font-weight: 100;
}

.categories > a:hover {
  color: #0d9bc6;
  text-decoration: none;
  font-weight: 200;
}

/* end of .categories styling  */

// login page styling starts
.wrapper {
  display: grid;
  grid-template: repeat(auto-fit, minmax(100vh, 1fr)) / repeat(
      auto-fit,
      minmax(50%, 1fr)
    );
}

.publish-wrapper {
  display: grid;
  grid-template: repeat(auto-fit, minmax(100vh, 1fr)) / repeat(
      auto-fit,
      minmax(50%, 1fr)
    );
}

.right {
  grid-row: 1 / -1;
  background: #fff;
  color: #0d9bc6;
  display: grid;
  justify-items: center;
  align-items: center;
}

.left {
  grid-row: 1 / -1;
  background: #ceebf3;
  display: grid;
  grid-template-rows: repeat(auto-fit, 60% 5% 8% 5%);
  justify-items: center;
  align-items: center;
}

.publish-left {
  grid-row: 1 / -1;
  justify-items: center;
  align-items: center;
}

.publish-right {
  grid-row: 1 / -1;
}

.publish-content-right {
  display: grid;
  margin: 200px;
  margin-top: 300px;
}

.publish-button {
  margin-top: 20px;
  margin-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 50px;
}

.tag-title {
  color: grey;
}

.draft-button {
  background-color: white;
  color: grey;
}

.publish-buttons {
  text-align: center;
}

.publish-content-left {
  margin-top: 100px;
}

.article-title-publish {
  display: grid;
  width: 80%;
  margin-left: 10%;
  justify-items: center;
  color: grey;
}

.article-preview {
  margin-left: 10%;
}

.article-desc-publish {
  display: grid;
  width: 80%;
  margin-left: 10%;
  color: grey;
}

.right > div {
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(auto-fit, 40% 35%);
}
.ah-login {
  font-weight: 300;
  font-size: 50px;
}

.tag-login {
  font-weight: 300;
  font-size: 25px;
}

.left form {
  display: grid;
  grid-auto-columns: 100%;
  grid-gap: 15px;
  justify-items: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  align-self: end;
}

form > h1 {
  font-weight: 100;
  color: #707070;
  margin-bottom: 10px;
}

.form-control {
  border: 0px;
  border-radius: 20px;
  width: 20rem;
  height: 40px;
  box-shadow: 0 5px 5px -8px;
  font-size: 20px;
  font-weight: 200;
  padding-left: 20px;
}
.form-control::placeholder {
  color: #0d9bc6;
}

.form-control:focus,
button:focus {
  outline: none;
}

button {
  border: 0px;
  background-color: #0d9bc6;
  color: #fff;
  font-size: 22px;
  font-weight: 200;
}

button[disabled] {
  background-color: rgba(13, 155, 198, 0.39);
  cursor: no-drop;
}

.social-icons {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 40% 20% 20% 20% 40%;
  width: 100%;
  height: 60px;
  align-items: center;
  background-color: #fff;
}
.social-icons > img {
  width: 35px;
  height: 35px;
}

.social-icons > img:first-of-type {
  justify-self: end;
}
.social-icons > img:nth-last-of-type(2) {
  justify-self: center;
}

.sign-up-redirect,
.left > p {
  color: #818586;
  font-weight: 100;
}

.sign-up-redirect > span {
  color: #0d9bc6;
}

.sign-up-redirect > a {
  color: #0d9bc6;
  text-decoration: none;
}

.btn-signup,
.login-btn {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
}

.btn-signup-disable {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  cursor: no-drop;
  border-radius: 50px;
  opacity: 0.5;
}

.redirect-login {
  color: #0d9bc6;
  text-decoration: none;
}

.eye-toggle {
  height: 20px;
}

.eye-toggle-login {
  height: 20px;
  margin-top: 140px;
}

a.show-toggle {
  position: fixed;
  margin-top: 12px;
  right: 16%;
}
#twitter,
#facebook,
#google {
  cursor: pointer;
}

//Top menu
.top-menu {
  display: grid;
  grid-auto-flow: column;
}

#btn-notification {
  align-self: center;
  height: 10px;
}

#top-menu-avatar {
  align-self: center;
  cursor: pointer;
  // font-size: 20px;
  font-weight: 100 !important;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
}

#top-menu-avatar > img {
  align-self: center;
}

.icon {
  position: relative;
  top: 40%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.humburger {
  width: 30px;
  height: 2px;
  background: #0d9bc6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.humburger::before,
.humburger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: #0d9bc6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.humburger::before {
  top: -10px;
}

.humburger::after {
  top: 10px;
}

.icon.active .humburger {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}

.icon.active .humburger::before {
  top: 0;
  transform: rotate(45deg);
}

.icon.active .humburger::after {
  top: 0;
  transform: rotate(135deg);
}

//User avatar
.user-avatar {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin: 0;
  padding: 0;
}

#btn-notification {
  cursor: pointer;
}

.popup-user-profile {
  width: 320px;
  height: 45vh;
  background: #f2f2f2;
  border-radius: 12px;
  border: 0.1 solid;
  position: relative;
  margin: 10px auto;
  // z-index: -2;
}

.profile-details {
  background: #0d9bc6 !important;
  border-radius: 15px;
  height: 30vh;
  padding-top: 20px;
}

#btn-change-pic {
  padding: 0;
  font-size: 12pt;
  color: #0d9bc6;
  float: right;
  margin-top: 30px;
  margin-right: 30%;
  cursor: pointer;
}

.btn-link {
  background: none;
  margin-top: 10px !important;
  margin-right: 22%;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 12pt;
  color: #0d9bc6;
  float: right;
}
.view-all-users {
  text-align: center;
}

.btn-link:hover {
  color: #0d9bc6;
  text-decoration: underline;
}

.view-all-users {
  border-radius: 15px;
  background: #f2f2f2;
  margin-top: -40px;
  height: 15vh;
  z-index: 1;
}

// Edit user profile modal
#modal-edit-user {
  display: flex;
  width: 100%;
  margin-top: 30px;
  background: white;
}

.img-edit {
  flex: 1.3;
  margin-top: -30px;
  padding-top: 30px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0, 0, 0, 0);
  z-index: 1;
}
.profile-details-edit {
  background: rgb(255, 255, 255);
  margin-left: 10px;
  height: 100vh;
  flex: 4.3;
}

.profile-details-edit h3 {
  margin-left: 10%;
}

//Input field
.inp-txt {
  display: inline-block !important;
  width: 50% !important;
  text-align: left;
  border: none;
  padding: 10px;
  border-bottom: 0.5px solid rgba(222, 217, 217, 0.473);
  margin-left: 5%;
  background: rgba(13, 155, 198, 0.041);
  font-size: 14pt;
  outline: none;
  height: 35px !important;
}

.disable-inp {
  cursor: not-allowed;
}

.inp-txt-area {
  display: inline-block !important;
  width: 50% !important;
  text-align: left;
  border: none;
  padding: 10px;
  margin-left: 5%;
  background: rgba(13, 155, 198, 0.041);
  outline: none;
  resize: none;
  border-radius: 20px;
  box-shadow: 0 5px 5px -8px;
  font-size: 20px;
  font-weight: 200;
  padding-left: 20px;
}
.profile-details input {
  padding: 10px;
  border: none !important;
  border-bottom: 0.5px solid rgba(222, 217, 217, 0.473);
  width: 80%;
  margin-left: 5%;
  background: transparent;
  color: white;
  font-size: 14pt;
  text-align: center;
  outline: none;
  font-family: Helvetica;
}

//Button
.btn-default {
  border: none;
  width: 10%;
  border-radius: 20px;
  background: rgba(13, 155, 198, 0.7);
  color: white;
  font-size: 12pt;
  font-weight: 700;
  margin: 2% 0 2% 68%;
  padding: 10px;
  outline: none;
}

.btn-default:hover {
  background: #0d9bc6;
  color: white !important;
  cursor: pointer;
}

.lb-default {
  width: 10%;
  margin-left: 10%;
  display: inline-block;
  // font-weight: 500;
  font-family: Helvetica;
  font-size: 12pt;
  color: #0d9bc6;
}

// Grouping
.form-group {
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .brand {
    flex: 1;
  }

  .top-menu {
    flex: 1;
  }

  a.show-toggle {
    position: fixed;
    margin-top: 12px;
    right: 16%;
  }

  #modal-edit-user {
    display: block;
  }

  .lb-default,
  .inp-txt,
  .inp-txt-area,
  .btn-default {
    display: block !important;
    width: 100% !important;
  }
  .btn-default {
    margin: 10px 20px 0 30px;
  }
}

@media screen and (max-width: 1024px) {
  .brand {
    flex: 1;
  }

  .top-menu {
    flex: 1;
  }
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica;
}

// nav bar styling begins

.navbar {
  display: grid;
  min-height: 30px;
  grid-auto-flow: column;
  background-color: #fff;
  grid-gap: 20px;
  padding: 0 70px;
  box-shadow: 0 5px 10px -10px;
  color: #0d9bc6;
}

.logo {
  display: grid;
  justify-content: start;
  align-content: center;
  font-size: 20px;
  padding: 4px;
}

.logo > a:hover {
  text-decoration: none;
  color: rgba(13, 155, 198, 0.658);
}

.links {
  display: grid;
  justify-content: end;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 20px;
  font-size: 15px;
}

.signup {
  border: 1px solid #0d9bc6;
  border-radius: 8px;
  padding: 4px;
  text-decoration: none;
  color: #0d9bc6;
}

.signup:hover,
.login:hover {
  text-decoration: none;
  color: rgba(13, 155, 198, 0.658);
}

.login {
  padding: 4px;
  text-decoration: none;
  color: #0d9bc6;
}

// nav bar styling ends

// login page styling starts
.wrapper {
  display: grid;
  grid-template: repeat(auto-fit, minmax(100vh, 1fr)) / repeat(
      auto-fit,
      minmax(50%, 1fr)
    );
}

.right {
  grid-row: 1 / -1;
  background: #fff;
  color: #0d9bc6;
  display: grid;
  justify-items: center;
  align-items: center;
}

.left {
  grid-row: 1 / -1;
  background: #ceebf3;
  display: grid;
  grid-template-rows: repeat(auto-fit, 60% 5% 8% 5%);
  justify-items: center;
  align-items: center;
}

.right > div {
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(auto-fit, 40% 35%);
}
.ah-login {
  font-weight: 300;
  font-size: 50px;
}

.tag-login {
  font-weight: 300;
  font-size: 25px;
}

.left form {
  display: grid;
  grid-auto-columns: 100%;
  grid-gap: 15px;
  justify-items: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  align-self: end;
}

form > h1 {
  font-weight: 100;
  color: #707070;
  margin-bottom: 10px;
}

.form-control {
  border: 0px;
  border-radius: 20px;
  width: 20rem;
  height: 40px;
  box-shadow: 0 5px 5px -8px;
  font-size: 20px;
  font-weight: 200;
  padding-left: 20px;
}
input::placeholder {
  color: #0d9bc6;
}

input:focus,
button:focus {
  outline: none;
}

button {
  border: 0px;
  background-color: #0d9bc6;
  color: #fff;
  font-size: 22px;
  font-weight: 200;
  cursor: pointer;
}

button[disabled] {
  background-color: rgba(13, 155, 198, 0.39);
  cursor: no-drop;
}

.social-icons {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 40% 20% 20% 20% 40%;
  width: 100%;
  height: 60px;
  align-items: center;
  background-color: #fff;
}
.social-icons > img {
  width: 35px;
  height: 35px;
}

.social-icons > img:first-of-type {
  justify-self: end;
}
.social-icons > img:nth-last-of-type(2) {
  justify-self: center;
}

.sign-up-redirect,
.left > p {
  color: #818586;
  font-weight: 100;
}

.sign-up-redirect > span {
  color: #0d9bc6;
}

.sign-up-redirect > a {
  color: #0d9bc6;
  text-decoration: none;
}

.btn-signup,
.login-btn {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
}

.btn-signup-disable {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  cursor: no-drop;
  border-radius: 50px;
  opacity: 0.5;
}

.redirect-login {
  color: #0d9bc6;
  text-decoration: none;
}

.eye-toggle {
  height: 20px;
}

.eye-toggle-login {
  height: 20px;
  margin-top: 140px;
}

a.show-toggle {
  position: fixed;
  margin-top: 12px;
  right: 16%;
}
#twitter,
#facebook,
#google {
  cursor: pointer;
  opacity: 0.7;
}

#twitter:hover,
#facebook:hover,
#google:hover {
  cursor: pointer;
  opacity: 1;
}

// Navbar style
.nav-bar {
  display: flex;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1), 0 0 20px 0 rgba(0, 0, 0, 0.1);
  color: #0d9bc6 !important;
}
.brand {
  flex: 3;
}

.nav-bar h3 {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
  padding: 12px;
  margin-left: 7%;
  display: inline-block;
}

.brand-emphasize {
  font-weight: 800;
}

//Top menu
.top-menu {
  flex: 1;
  float: right;
}

.top-menu .fas,
#menu-toggle .fas {
  font-size: 18pt;
}
.user-stats {
  color: #0d9bc6;
  font-size: 10pt;
  margin: 20px 0 20px 0;
}
.user-stats .fas {
  padding-bottom: 10px;
  color: #0d9bc6;
}

.user-stats span:nth-child(1) {
  margin-left: 10%;
  margin-right: 5%;
}

#top-menu-avatar {
  cursor: pointer;
  font-size: 20px;
  font-weight: 100 !important;
  display: inline-block;
  margin-top: 7px;
}

#menu-toggle {
  margin: 10px 100px 20px 20px;
  padding: 10px;
  float: right;
}

//User avatar
.user-avatar {
  border-radius: 50%;
  width: 45px;
  float: left;
  margin-left: 20px;
  margin-top: 3px;
}

#btn-notification {
  cursor: pointer;
  position: relative;
  padding: 10px;
}
.user-name {
  text-transform: capitalize;
  display: inline-block;
  margin-top: 17px !important;
  margin-left: 10px;
}

// .popup-user-profile {
//   width: 300px;
//   height: 40vh;
//   background: #f2f2f2;
//   border-radius: 12px;
//   border: 0.1 solid;
// }

.profile-details {
  background: #0d9bc6 !important;
  border-radius: 15px;
  height: 30vh;
  padding-top: 20px;
}

.profile-avatar {
  width: 70%;
  height: 65%;
  margin-left: 15%;
  border-radius: 50%;
  display: inline-block;
  padding-top: 0px !important;
}

.profile-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-top: 10px !important;
}

.profile-avatar-edit {
  width: 70%;
  margin-left: 15%;
  border-radius: 50%;
  display: inline-block;
  padding-top: 0px !important;
  height: 30%;
}

#btn-change-pic {
  padding: 0;
  font-size: 12pt;
  color: #0d9bc6;
  float: right;
  margin-top: 30px;
  margin-right: 30%;
  cursor: pointer;
}

.btn-link {
  background: none;
  margin-top: 10px !important;
  margin-right: 22%;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 12pt;
  color: #0d9bc6;
  float: right;
}
.view-all-users {
  text-align: center;
}

.btn-link:hover {
  color: #0d9bc6;
  text-decoration: underline;
}

.view-all-users {
  border-radius: 15px;
  background: #f2f2f2;
  margin-top: -40px;
  height: 15vh;
  z-index: 1;
}

// Edit user profile modal
#modal-edit-user {
  display: flex;
  width: 100%;
  margin-top: 30px;
  background: white;
}

.img-edit {
  flex: 1.3;
  margin-top: -30px;
  padding-top: 30px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0, 0, 0, 0);
  z-index: 1;
}
.profile-details-edit {
  background: rgb(255, 255, 255);
  margin-left: 10px;
  height: 100vh;
  flex: 4.3;
}

.profile-details-edit h3 {
  margin-left: 10%;
}

//Input field
.inp-txt {
  display: inline-block !important;
  width: 50% !important;
  text-align: left;
  border: none;
  padding: 10px;
  border-bottom: 0.5px solid rgba(222, 217, 217, 0.473);
  margin-left: 5%;
  background: rgba(13, 155, 198, 0.041);
  font-size: 14pt;
  outline: none;
  height: 35px !important;
  font-weight: 100;
}

.disable-inp {
  cursor: not-allowed;
}

.inp-txt-area {
  display: inline-block !important;
  width: 50% !important;
  text-align: left;
  border: none;
  padding: 10px;
  margin-left: 5%;
  background: rgba(13, 155, 198, 0.041);
  outline: none;
  resize: none;
  border-radius: 20px;
  box-shadow: 0 5px 5px -8px;
  font-size: 20px;
  font-weight: 100;
  padding-left: 20px;
  font-family: Helvetica;
}
.profile-details input {
  padding: 10px;
  border: none !important;
  border-bottom: 0.5px solid rgba(222, 217, 217, 0.473);
  width: 80%;
  margin-left: 5%;
  background: transparent;
  color: white;
  font-size: 14pt;
  text-align: center;
  outline: none;
  font-family: Helvetica;
}

//Button
.btn-default {
  border: none;
  width: 10%;
  border-radius: 20px;
  background: rgba(13, 155, 198, 0.7);
  color: white;
  font-size: 12pt;
  font-weight: 700;
  margin: 2% 0 2% 68%;
  padding: 10px;
  outline: none;
}

.btn-default:hover {
  background: #0d9bc6;
  color: white !important;
  cursor: pointer;
}

.lb-default {
  width: 10%;
  margin-left: 10%;
  display: inline-block;
  // font-weight: 500;
  font-family: Helvetica;
  font-size: 12pt;
  color: #0d9bc6;
}

// Grouping
.form-group {
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .brand {
    flex: 1;
  }

  .top-menu {
    flex: 1;
  }

  a.show-toggle {
    position: fixed;
    margin-top: 12px;
    right: 16%;
  }

  #modal-edit-user {
    display: block;
  }

  .lb-default,
  .inp-txt,
  .inp-txt-area,
  .btn-default {
    display: block !important;
    width: 100% !important;
  }
  .btn-default {
    margin: 10px 20px 0 30px;
  }
}

// Read article page styling starts here

.article-wrapper {
  display: grid;
  grid-template-columns: 23.85% 52.3% 23.85%;
}

.content-title {
  font-size: 35px;
  font-weight: 500;
  margin-top: -70px;
}

.content-blurb,
.read-time {
  font-weight: 100;
  color: #707070;
}

.above-content {
  display: grid;
  grid-template-columns: 60% 30% 10%;
}

.author-name {
  text-transform: capitalize;
  font-weight: 200;
}

.author-info {
  display: grid;
  grid-template-columns: 15% 85%;
}

.author-avi > img {
  width: 60px;
  border-radius: 50%;
}

.follow,
.bookmark {
  background: #fff;
  color: #0dc68d;
  font-size: 18px;
}

.follow > img {
  height: 25px;
}

.bookmark > img {
  height: 20px;
}

.follow {
  justify-self: start;
}
.bookmark {
  justify-self: end;
}

.article-banner {
  display: grid;
  justify-items: center;
}
.article-banner > img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.content-body {
  font-weight: 100;
  color: #707070;
  padding: 30px 0;
  line-height: 1.6;
}

.like-button > img,
.dislike-button > img {
  height: 30px;
}

.no-reaction > img {
  opacity: 0.2;
}

.like-button,
.dislike-button {
  background: #fff;
  color: black;
  font-size: 15px;
}

.content-actions {
  display: grid;
  grid-template-columns: 80% 18% 2%;
  padding-bottom: 20px;
}

.share-icons {
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: column;
  justify-self: end;
  align-items: center;
}

.share-icons > img {
  height: 30px;
}

.report > img {
  height: 25px;
}

.side {
  color: #f2f2f2;
  opacity: 0.2;
}

.rating {
  margin-top: 10px;
}

.rating > img {
  height: 20px;
}

.hidden-message a {
  text-decoration: none;
  color: #0d9bc6;
}
.reveal {
  display: block;
}

.login-to-react > a {
  text-decoration: none;
  color: #0d9bc6;
  font-size: 15px;
}

.author-avi > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* content styling starts here */

.content {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  margin-top: 40px;
}

.article-card {
  display: grid;
  grid-auto-flow: row;
  box-shadow: 0 5px 10px -10px;
  width: 260px;
}

.article-card > img {
  width: 260px;
}

/* content styling ends here */

// Read article page styling starts here

.article-content {
  margin-top: 100px;
  display: grid;
  grid-gap: 15px;
}

.article-create-container {
  width: 69.3%;
  margin: auto;
  padding-left: 0%;
  position: relative;
}

.content-blurb,
.read-time {
  margin-top: 10px;
  font-weight: 100;
  color: #707070;
}

.author-name {
  font-weight: 200;
}

.author-avi > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.name-time {
  align-self: center;
}

.follow,
.bookmark {
  background: #fff;
  color: #0dc68d;
  font-size: 18px;
}

.follow > img {
  height: 25px;
}

.bookmark > img {
  height: 20px;
}

.follow {
  justify-self: start;
}
.bookmark {
  justify-self: end;
}

.article-banner {
  display: grid;
  justify-items: center;
}
.article-banner > img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.content-body {
  font-weight: 100;
  color: #707070;
  padding: 30px 0;
  line-height: 1.6;
}

.like-button > img,
.dislike-button > img {
  height: 30px;
}

.no-reaction > img {
  opacity: 0.2;
}

.like-button,
.dislike-button {
  background: #fff;
  color: black;
  font-size: 15px;
}

.content-actions {
  display: grid;
  grid-template-columns: 80% 18% 2%;
  padding-bottom: 20px;
}

.share-icons {
  display: grid;
  grid-gap: 20px;
  grid-auto-flow: column;
  justify-self: end;
  align-items: center;
}

.share-icons > img {
  height: 30px;
}

.report {
  justify-self: end;
  align-self: center;
}

.report > img {
  height: 25px;
}

.side {
  color: #f2f2f2;
  opacity: 0.2;
}

.rating {
  margin-top: 10px;
}

.rating > img {
  height: 20px;
}

.login-to-react {
  display: none;
  margin-top: 5px;
  padding: 10px;
  width: 27%;
  border: 1px solid #0d9bc6;
  border-radius: 10px;
}
.reveal {
  display: block;
}

.login-to-react > a {
  text-decoration: none;
  color: #0d9bc6;
  font-size: 15px;
}

// Read article page styling ends here

//  dropdown menu styling

.drop-down {
  position: fixed;
  z-index: 100;
  margin-left: 81vw;
  display: none;
  grid-auto-flow: rows;
  width: 16rem;
  justify-content: center;
  box-shadow: 0px 0px 7px -5px rgb(126, 125, 125);
  align-content: center;
  transition: 0.5s;
  background: white;
}

.grid {
  display: grid;
}

.drop-down > a,
.in-app-notify,
.email-notify {
  height: 40px;
  width: 13rem;
  color: #000000;
}

.drop-down > a:hover {
  color: #0d9bc6;
  text-decoration: none;
}

.profile-menu-icon,
.bookmarks-menu-icon,
.sign-out-drop-down-icon {
  height: 18px;
}

.profile-menu,
.bookmarks-menu,
.sign-out-drop-down {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  box-shadow: 0px 0px 7px -5px rgb(126, 125, 125);
  padding: 10px;
}

.icon-text,
.in-app-notify,
.email-notify {
  justify-self: start;
  font-size: 18px;
  font-weight: 100;
}

.divider {
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 100;
}

input[type="checkbox"] {
  position: relative;
  -webkit-appearance: none;
  background: #b9b9b9;
  outline: none;
  width: 40px;
  height: 22px;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

input:checked[type="checkbox"] {
  background: #0d9bc6;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

input:checked[type="checkbox"]::before {
  left: 20px;
}

.in-app-notify,
.email-notify {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.in-app-notify > input[type="checkbox"],
.email-notify > input[type="checkbox"] {
  justify-self: end;
}
// Comment style
.comment-section {
  background: #f8f7f7;
  padding-top: 10px;
  padding-bottom: 30px;
}
.articles-container {
  display: grid;
  justify-items: center;
}
.article-head {
  justify-items: start;
  width: 65rem;
}

.article-head > h1,
.article-side-title {
  font-weight: 200;
}

.article-side-desc {
  font-weight: 100;
}

.user-articles {
  display: grid;
  grid-template-columns: 60% 40%;
  border: 1px solid white;
  -moz-box-shadow: 0 0 20px silver;
  -webkit-box-shadow: 0 0 20px silver;
  box-shadow: 0 0 20px silver;
  margin-bottom: 20px;
  height: 200px;
  width: 65rem;
  padding: 5px;
}

.commentDiv {
  margin-left: 25%;
  margin-top: 50px;
}
.commentCount {
  color: #0d9bc6;
}
.commentBody {
  width: 60%;
  resize: none;
  font-size: 15px;
  outline: none;
  padding: 30px;
  border: none;
  background-color: white;
  border-radius: 15px;
  box-shadow: 2px 2px 6px 1px #bdb2b2;
}
.updateCommentForm {
  width: 600px;
  resize: none;
  font-size: 15px;
  outline: none;
  padding: 30px;
  border: none;
}
.updateCommentBody {
  width: 90%;
  height: 200px;
  resize: none;
  font-size: 15px;
  outline: none;
  padding: 20px;
  border: none;
  box-shadow: 2px 2px 6px 1px #bdb2b2;
}
.btn-updateComment {
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 10px;
  display: block;
  margin-left: 61%;
}
.commentBody::placeholder {
  color: #0d9bc6;
}
.btn-comment {
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 20px;
  display: block;
  margin-left: 52.002%;
}
.commentPanel {
  background-color: white;
  width: 60%;
  padding: 20px;
  height: auto;
  border-radius: 15px;
  margin-top: 50px;
  box-shadow: 2px 2px 6px 1px #bdb2b2;
}
.commentLeft,
.commentRight {
  display: inline-block;
}
.commentLeft > img {
  width: 90%;
  height: 90%;
  border-radius: 100%;
}
.commentLeft {
  width: 10%;
  margin-right: 2%;
}
.commentRight {
  width: 85%;
  margin-top: -30px;
}
.commentDate {
  float: right;
  font-weight: bold;
  font-size: 12px;
}
.commentFunc {
  margin-left: 60%;
}
.fa-edit,
.fa-trash-o,
.fa-ellipsis-v {
  padding: 8px;
  cursor: pointer;
}
.fa-trash-o {
  color: red;
}
// End of Comment style
// Pagination styling starts here

.pagination-wrapper {
  display: grid;
  justify-items: center;
  padding: 40px;
}

.pagination {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  box-shadow: 0px 0px 7px -5px rgb(126, 125, 125);
  padding: 10px;
  border-radius: 5%;
}

.pagination > a {
  display: grid;
  justify-items: center;
  align-items: center;
  text-decoration: none;
  color: #0d9bc6;
  background: #fff;
  height: 30px;
  width: 30px;
  font-size: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 7px -5px rgb(126, 125, 125);
}

.pagination > a:focus {
  text-decoration: none;
  color: #fff;
  background: #0d9bc6;
}
.tag-article-image {
  justify-items: end;
  margin-bottom: -5px;
}

.article-side {
  display: grid;
  grid-template-rows: 25% 55% 20%;
  color: #0d9bc6;
  margin-left: 20px;
  margin-top: -10px;
}

.article-side-desc {
  color: grey;
}

.article-side-footer {
  align-self: end;
  text-transform: capitalize;
}

.author-article-title {
  color: #0d9bc6;
  text-decoration: none;
}

.edit-article {
  color: grey;
  height: 100%;
}

.not-found {
  color: grey;
  font-size: 20px;
}

//start of article by tag
.all-tags {
  margin-left: 20%;
}
.tag-list {
  background-color: #0d9bc6;
  padding: 5px;
  margin-left: 10px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.tag-list:hover,
.tag-list:focus {
  background-color: #5bccef;
}
.tags-container {
  margin-left: 50px;
  margin-top: 20px;
}

.tag-article-container {
  width: 60%;
  margin: auto;
  padding-left: 8%;
  position: relative;
}

.tag-article-space {
  position: relative;
  z-index: 10;
  width: 75%;
  height: 53vh;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.2);
  margin: 5% 0 2% 6%;
  font-family: Helvetica;
  display: inline-block;
  background: white;
  padding: 0;
  text-align: justify;
}

.tag-article-image img {
  width: 100%;
  height: 30vh;
  padding-top: -10px;
  margin: 0;
  object-fit: cover;
}

.tag-article-title {
  height: 4vh;
  overflow: hidden;
  color: #0d9bc6;
  font-weight: 700;
  font-size: 10pt;
  margin: 10px 20px 0px 20px;
}

p {
  text-align: justify !important;
}

.tag-article-body {
  height: 5vh;
  overflow: hidden;
  padding: 0px 20px 10px 20px;
  font-weight: 100;
  text-align: justify;
}

.tag-article-author {
  color: #0d9bc6;
  font-size: 10pt;
  padding: 10px 25px 10px 0;
  text-align: right;
}

.tag-short-summary {
  width: 40%;
  font-size: 20pt;
  font-family: Helvetica;
  font-weight: 100;
  font-style: italic;
  text-align: center;
  position: fixed;
  z-index: 10;
  left: 43%;
  padding: 30px;
  margin-top: 0;
}

.tag-article-rates {
  margin-right: 7.5%;
  display: block;
  float: right;
  text-align: right;
}

.tag-article-rates span {
  color: #0d9bc6;
  font-size: 10pt;
  font-weight: 100;
}
.tagName {
  text-transform: capitalize;
  color: #0d9bc6;
}
