// Article style
.article-menu{
    width: 100%;
    margin:auto;
    display: block;
    padding-top: 30px;
    height: 40px;
    text-align: center;
  }

  .article-menu span{
    width: 5%;
    margin: 2%;
  }

  .article-menu span a:hover{
    color: #0D9BC6;
  }

  .article-menu span a{
    text-decoration: none;
    display: inline-block;
    font-family: Helvetica;
    font-weight: 100;
    font-size: 12pt;
    color: black;
  }

  .article-container{
    width: 80%;
    margin: auto;
    padding-left: 8%;
    position: relative;
  }

  .article-space{
    position: relative;
    z-index: 10;
    width: 28%;
    height: 53vh;
    box-shadow: 0 5px 10px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.2);
    margin: 5% 0 2% 2%;
    font-family: Helvetica;
    display: inline-block;
    background: white;
    padding: 0;
    text-align: justify;
  }

  .article-space:first-child{
    height: 70vh;
  }

  .article-space:first-child .article-image > img{
    max-width: 100%;
    height: 47vh;
    object-fit: cover;
  }

  .article-space:nth-child(4){
    height: 40vh;
    margin-top: 4%;
    height: 52vh;
  }

  .article-space:nth-child(5){
    width: 58%;
    height: 52.5vh;
    margin-right: 9%;
  }

  .article-space:nth-child(5) img{
    height: 30vh;
  }

  .article-image img{
    width: 100%;
    height: 30vh;
    padding-top: -10px;
    margin: 0;
    object-fit: cover;
  }


  .article-title{
    height: 4vh;
    overflow: hidden;
    color: #0d9bc6;
    font-weight: 700;
    font-size: 10pt;
    margin: 10px 20px 0px 20px;
  }

  p{
    text-align: justify !important;
  }

  .article-body{
    height: 5vh;
    overflow: hidden;
    padding: 0px 20px 10px 20px;
    font-weight: 100;
    text-align: justify;
  }

  .article-author{
    color: #0d9bc6;
    font-size: 10pt;
    padding: 10px 25px 10px 0;
    text-align: right;
  }

  .short-summary{
    width: 40%;
    font-size: 20pt;
    font-family: Helvetica;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    position: fixed;
    z-index: 10;
    left: 43%;
    padding: 30px;
    margin-top: 0;
  }


  .article-rates{
    margin-right: 7.5%;
    display: block;
    float: right;
    text-align: right;
  }

  .article-rates span{
    color: #0d9bc6;
    font-size: 10pt;
    font-weight: 100;
  }

  @media screen and (max-width: 768px){
    .article-container{
      width: 90%;
      margin: auto;
      padding-left: 0;
    }

    .article-space{
      display: block;
      width: 80%;
      height: 50vh;
      margin: 0;
    }

    .article-space:first-child{
      height: 50vh;
    }

    .article-space:nth-child(5){
      width: 100%;
      height: 50vh;
      float: none;
    }

    .short-summary{
      display: none;
    }

  }

  @media screen and (max-width: 1024px){
    .article-container{
      width: 100%;
      margin: auto;
      padding-left: 0;
    }

    .article-image > img {
      height: 25vh;
    }

    .article-space:first-child .article-image > img {
      height: 25vh;
    }

    .article-space:nth-child(5) .article-image > img {
      height: 25vh;
    }

    .small-things {
      font-size: 12px;
    }
    .article-space{
      display: inline-block;
      width: 85%;
      margin: 5% 8%;
      height: 52vh;
    }

    .article-space:first-child{
      height: 52vh;
    }
    .article-space:nth-child(5){
      width: 85%;
      height: 52vh;
      margin: 5% 8%;
      float: none;
    }

    .article-body > p {
      font-size: 12px;
    }

    .article-author {
      font-size: 12px;
      margin-bottom: 10px;
    }

    .short-summary{
      display: none;
    }

  .article-rates{
    width: initial;
    float: right;
    margin-left: 40%;
    padding-top: -10px;
    margin-top: -20px;
    cursor: pointer;
  }

  .short-summary{
    display: none;
  }
  }

.not-found{
  font-family: Helvetica;
  height: 40vh;
  margin-top: -30px;
  padding-top: 70px;
  font-size: 20pt;
  margin-left: auto;
  position: relative;
  z-index: 10;
  background: rgb(255, 255, 255);
}
.not-found h1{
  text-align: center;
  color: #41494D;
}
.not-found-img img{
  object-fit: cover;
}
.not-found-img{
  margin: auto;
  text-align: center;
  height: initial;
}

  .read-article{
    width: 60%;
    margin: auto;
    font-size: 18pt;
    text-align: justify;
    font-family: Helvetica;
    font-weight: 200;
  }

  // Article bookmark
  .bookmark-header{
    width: 60rem;
    margin: auto;
    color: #384043;
    margin-bottom: 20px;
  }

  .bookmark-wrapper {
    display: grid;
    justify-items: center;
    grid-gap: 20px;
  }
  .bookmark-container{
    margin-top: 20px;
    display: grid;
    grid-auto-flow: column;
    width: 60rem;
    height: 12rem;
    box-shadow: 0 5px 10px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.2);
  }

  .bookmarked-article-image > img{
    width: 15rem;
    height: 12rem;
    float: right;
    object-fit: cover;
  }

.article-info-bookmark{
  padding: 10px 0 0 40px;
  font-family: Helvetica;
}

.article-info-bookmark h1{
  color: #41494D;
  overflow: hidden;
  width: 40rem;
  height: 2rem;
  cursor: pointer;
}

.article-info-bookmark h1:hover{
  color: #0d9bc6;
}

.article-info-bookmark p{
  width: 40rem;
  height: 3rem;
  font-size: 14pt;
  overflow: hidden;
}

.btn-remove{
  background: transparent;
  color: rgba(0, 0, 0, 0.24);
  font-family: Helvetica;
  font-weight: 300;
  font-size: 25px;
  margin-left: -10px;
  padding-bottom: 20px;
}

.btn-remove:hover{
  color: #0d9bc6;
}

.login-to-bookmark {
  display: none;
  margin-top: -30px;
  margin-left: 71.5%;
  padding: 10px;
  width: 25%;
  border: 1px solid #0d9bc6;
  border-radius: 10px;
}

.show{
  display: block;
}
