
.reset {
  font-family: Helvetica;
  background: #ceebf3;
  align-self: center;
}

.reset h1 {
  font-weight: 100;
  color: #707070;
  margin-bottom: 10px;
}
 .reset input {
  border: 0px;
  border-radius: 20px;
  width: 20rem;
  height: 40px;
  box-shadow: 0 5px 5px -8px;
  font-size: 20px;
  font-weight: 200;
  padding-left: 20px;
}
.reset p {
  font-weight: 100;
  color: #707070;
  margin-bottom: 10px;
}
.input-password{
  align-items: center;
}
.mother {
  display: grid;
  justify-items: center;
}

.mother form{
  display: grid;
  grid-auto-columns: 100%;
  grid-gap: 15px;
  justify-items: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  align-self: end;
}
.resetButton{
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
}
button[disabled] {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  cursor: no-drop;
  border-radius: 50px;
  opacity: 0.5;
}
.password-container {
  margin-top:10%;
  display: block;
  padding: 30px;
  background: #ceebf3;
  width:  40%;
  box-shadow: 0 19px 38px rgba(0,0,0,.1), 0 15px 12px rgba(0,0,0,.2);
}
.alert-danger {
    background: #f8d7da;
    color: #721c24;
    border-radius: 18px;
    width: 300px;
    padding: 0px 15px;
    line-height: 20px;
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
.showPassword input{
  display: inline-block;
  margin-right: 15px;
  width: 2px;
}
.forgotLink {
  color: rgba(6, 178, 201, 0.918);
  text-decoration: none;
}
.forgotLink a:hover{
  color: rgba(6, 178, 201, 0.918);
}

#eyePassword{
  position: absolute;
  margin-left: 285px;
  margin-top: 9px;
}
#eyeConfirmPassword{
  position: relative;
  margin-left: 285px;
  top: 26px;
}
.confirm {
  margin-left: 120px;
}
.confirm p {
  margin-left: 95px;
}

.getFollow{
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  grid-gap: 20px 3px;
}
.firstDiv{
  border-right: 1px solid rgb(220,220,220);
  height: 100vh;
}
.ProfileDiv {
  border-left: 1px solid rgb(220,220,220);
}
.chooseFollow {
  grid-template-columns: 1fr 1fr;
  height: 80px;
  grid-column-gap: 6px
}
.chooseFollow p{
  display: inline-block;
  height: 20px;
  color: #707070;
  font-family: Helvetica;
  font-size: 20px;
  margin-top: 4%;
  margin-left: 10%;
  padding-left: 15%;
}
.followers{
  background: #F2F2F2;
  border-radius: 77px;
  height: 100.37px;
  width: 80%;
  margin-top: 15px;
  margin-left: 9.5%;
  display: inline-block;
}
.followers h3{
  height: 2px;
}
.followers p{
  height: 2px;
  float: right;
  padding-right: 20%;
  margin-top: 5%;
}
#nameFollow {
  color: #0d9bc6;
   font-family: Helvetica;
   float: left;
   margin-left: 2%;
   margin-top: 3.3%;
}
#nameFollow span{
  display: block;
}
.emailShowing{
  color: #032733;
  font-size: 13px;
}
#namesSize {
  font-size: 20px;
  font-weight: 400;
  margin-top: 1%;
}
.followOrNot{
  color: 	#0dc68d;
  float: right;
  margin-top: 0px;
}
.followingHr{
  float: left;
}
#lineFollowers {
  width: 50%;
  float: right;
}
#lineFollowees {
  width: 50%;
  float: left;
}
img.FollowerImage{
  width: 70px;
  height: 70px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  float: left;
  margin-left: 2%;
  margin-top: 2%;
}

.popup-user-profile a{
  text-decoration: none;
  color: #0d9bc6;
}

.popup-user-profile a:hover{
  color: #0d9bc693;
}
//follow button
.login-to-follow {
  display: none;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #0d9bc6;
  border-radius: 10px;
  margin-left: 22%;
  height: 3%;
}
.show-it{
  display: block;
}
// search 
.zero-Followers{
  margin-top: 20px;
  font-size: 20px;
  font-family: helvetica;
  color: #707070;
  margin-left: 260px;
 }
 .searchNotFound{
   margin-top: 20px;
   font-size: 20px;
   font-family: helvetica;
   color: #707070;
   margin-right: 20px;
 }
 .searchDiv-container{
  display: grid;
  grid-template-columns: 230px 50px 25px;
  margin-top: 7%;
}

.searchDiv-input{
 margin-left: 98px;
}
.searchIn{
  border: none;
  background: rgba(177, 174, 174, 0.1);
  border-radius: 3px 0 0 3px;
  box-sizing: content-box;
  inset: initial;
  font: 14px helvetica;
  height: 27px;
  padding: 5px 8px;
  width: 300px;
  margin-left: 0px;
}
.custom-select select{
  outline: none;
  border-radius: 3px 0 0 3px;
  border: none;
  box-sizing: content-box;
  border-color: transparent;
  inset: initial;
  font: 14px helvetica;
  height: 37px;
  margin-top: 0px;
  padding: 3px 0 0 6px;
  vertical-align: middle;
  width: 93px;
  margin-left: 190px;
}
.search-result {
  height: 20%;
  margin-bottom: 3%;
}
.search-result p{
  color: #707070;
  margin-top: 3%;
  margin-left: 5%;
  font-size: 25px;
  font-weight: 100;
}
.button-search{
  height: 35px;
  background: #0d9bc6;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-left: 240px;
  padding: 7px;
}
.button-search:hover{
  background: rgba(102, 211, 226, 0.918);
  cursor: pointer;
}